################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wasm/bin/Debug/net10.0
/Test/bin/Debug/net10.0
/DL.Contract/bin/Debug/net10.0
/DL/bin/Debug/net10.0
/Wasm/obj/Debug/net10.0/compressed
/Wasm/obj/Debug/net10.0/0nline.Biller.Wasm.assets.cache
/Wasm/obj/Debug/net10.0/0nline.Biller.Wasm.csproj.FileListAbsolute.txt
/Wasm/obj/Debug/net10.0/rbcswa.dswa.cache.json
/Wasm/obj/Debug/net10.0/staticwebassets.references.upToDateCheck.txt
/Wasm/obj/Debug/net10.0
/Wasm/obj
/Api.Lib/bin/Debug/net10.0
/Api.Lib/obj/Debug/net10.0/0nline.Biller.Api.Lib.assets.cache
/Api.Lib/obj/Debug/net10.0/0nline.Biller.Api.Lib.csproj.FileListAbsolute.txt
/Api.Lib/obj
/DL.Contract/obj/Debug/net10.0/0nline.Biller.DL.Contract.assets.cache
/DL.Contract/obj/Debug/net10.0/0nline.Biller.DL.Contract.csproj.FileListAbsolute.txt
/Test/obj/Debug/net10.0/0nline.Biller.Test.assets.cache
/Test/obj/Debug/net10.0/0nline.Biller.Test.csproj.FileListAbsolute.txt
/DL.Contract/obj
/Test/obj
/DL/obj/Debug/net10.0/0nline.Biller.DL.assets.cache
/DL/obj/Debug/net10.0/0nline.Biller.DL.csproj.FileListAbsolute.txt
/DL/obj/Debug/net10.0
/DL/obj
/.vs
